html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: auto; 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.monaco-editor .slider {
  border-radius: 4px;
}
